<!doctype html>
<!--[if IE 9]> <html class="no-js ie9 fixed-layout" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js " lang="en"> <!--<![endif]-->
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Site Meta -->
    <title> CNOSC | Gouvernance </title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/cno-cgo.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.jpg">

	<!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i" rel="stylesheet"> 
	
    <!-- Custom & Default Styles -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/carousel.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="style.css">


    <!-- Favicon -->
  

	<!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
	<![endif]-->

</head>
<body>  

    <!-- LOADER -->
    <div id="preloader">
        <img class="preloader" src="images/loader.gif" alt="">
    </div><!-- end loader -->
    <!-- END LOADER -->

    <div id="wrapper">
        <!-- BEGIN # MODAL LOGIN -->
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Begin # DIV Form -->
                    <div id="div-forms">
                        <form id="login-form">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="flaticon-add" aria-hidden="true"></span>
                            </button>
                            <div class="modal-body">
                                <input class="form-control" type="text" placeholder="What you are looking for?" required>
                            </div>
                        </form><!-- End # Login Form -->
                    </div><!-- End # DIV Form -->
                </div>
            </div>
        </div>
        <!-- END # MODAL LOGIN -->

        <header class="header">
            <div class="topbar clearfix" style="background: green";>
                <div class="container">
                    <div class="row-fluid">
                        <div class="col-md-8 col-sm-8 text-left">
                            <p>
                                <strong><i class="fa fa-phone"></i></strong> +242066687032 &nbsp;&nbsp;                           
                                <strong><i class="fa fa-envelope"></i></strong> <a href="mailto:#">jpngaloua@gmail.com,</a>
                                <strong><i class="fa fa-map-marker"></i></strong> Rue Bouët-Willaumez Côté/SIAT..Brazzaville
                            </p>
                        </div><!-- end left -->
                        <div class="col-md-4 col-sm-4 hidden-xs text-right">
                            <div class="social">
                                <a class="facebook" href="#" data-tooltip="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>              
                                <a class="twitter" href="#" data-tooltip="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                                <a class="google" href="#" data-tooltip="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                <a class="linkedin" href="#" data-tooltip="tooltip" data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                                <a class="pinterest" href="#" data-tooltip="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                            </div><!-- end social -->
                        </div><!-- end left -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </div><!-- end topbar -->

            <div class="container">
                <nav class="navbar navbar-default yamm">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                    </div>

                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown hassubmenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">CNOSC <span class="fa fa-angle-down"></span></a>
                                <li><a href="Accueil.html">CNOSC</a></li>
                                <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">CNOSC <span class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                   <li><a href="#">Historique</a></li>
                                    <li><a href="#">Rôles et Missions</a></li>
                                    <li><a href="#">Assemblée générale</a></li>
                                    <li><a href="#">Comité Exécutif</a></li>
                                    <li><a href="#">commissions</a></li>
                                    <li><a href="#">Fédérations</a></li>
                                    <li><a href="#"> Associations Affinitaires</a></li>
                                    <li><a href="#">Partenaires</a></li>
                                </ul>-->
                            </li>
                           
                            <li><a href="Actualités.html">ACTUALITES</a></li>
                            <li class="dropdown hassubmenu">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">GOUVERNANCE<span class="fa fa-angle-down"></span></a>
                            <ul class="dropdown-menu" role="menu">
                            <Li><a class="dropdown-item" href="bureauexecutif.html">Bureau exécutif</a></Li>
                           <li><a class="dropdown-item" href="personneladmin.html">Personnel Administratif</a></li> 
                           <li><a class="dropdown-item" href="Commission.html">Commission</a></li>
                           <li><a class="dropdown-item" href="Féderation.html">Fédérations</a></li> 
                            <li><a class="dropdown-item" href="Associations Affinitaires.html">Associations Affinitaires</a></li>
                            <li><a class="dropdown-item" href="structuresoustut.html">Structures sous Tutelle</a></li> 
                        </ul>
                            </li>
                        <li class="dropdown hassubmenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">PARTENAIRES<span class="fa fa-angle-down"></span></a>
                                  <ul class="dropdown-menu" role="menu">
                                  <Li><a class="dropdown-item" href="bureauexecutif.html">MJSFQE</a></Li>
                                 <li><a class="dropdown-item" href="personneladmin.html">ACNOA</a></li> 
                                 <li><a class="dropdown-item" href="personneladmin.html">ACNOA IV</a></li>
                                  <li><a class="dropdown-item" href="Associations Affinitaires.html">AFCNO</a></li>
                                  <li><a class="dropdown-item" href="Commission.html">CIO</a></li> 
                            </ul>
                                  </li>
                             <li class="dropdown hassubmenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">JEUX<span class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu" role="menu">
                            <Li><a class="dropdown-item" href="jeux olympiques d'Eté.html">Jeux olympiques d'Eté</a></Li>
                            <Li><a class="dropdown-item" href="jeux africians de la jeunesse.html">Jeux olympiques de la Jeunesse</a></Li>
                            <Li><a class="dropdown-item" href="jeux africains.html">Jeux Africains</a></Li>
                            <Li><a class="dropdown-item" href="jeux africians de la jeunesse.html">Jeux Africains de la Jeunesse</a></Li>
                            <Li><a class="dropdown-item" href="jeux acnoa zone IV.html">Jeux ACNOA Zone IV</a></Li>
                            <Li><a class="dropdown-item" href="jeux de la francophonie.html">Jeux de la Francophonie</a></Li>
                           
                            </ul>
                            </li>
                           
                            <li class="dropdown hassubmenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">MEDIATHEQUE <span class="fa fa-angle-down"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                    <li><a href="magazine olympique.html">Magazine Olympique</a></li>
                                    <li><a href="Phototèque.html">Phototèque</a></li>
                                    <li><a href="Vidéothèque.html">Videothèque</a></li>
                                    <li><a href="Bibliothèque.html">Bibliothèque</a></li>
                                </ul>
                            </li>
                            <li><a href="Contact.html">CONTACT</a></li>
                            <li class="iconitem"><a href="#" data-toggle="modal" data-target="#login-modal"><i class="fa fa-search"></i></a></li>
                        </ul>
                    </div>
                </nav><!-- end navbar -->
            </div><!-- end container -->
        </header>

        <section id="home" class="video-section js-height-full">
            <div class="overlay"></div>
            <div class="home-text-wrapper relative container">
                <div class="home-message">
                <div class="logo-normal">
           <a class="navbar-brand" href="index.html"><img src="images/Cno-cgo1.png" alt="" style=" width: 100px; height: 200px; margin-right: -100px;"></a>
           </div>
                    <p style="text-align: center;">Comité National Olympique et Sportif Congolais</p>
                </br>
                    <small>Bienvenue sur le Site Officiel du Comité National Olympique et Sportif Congolais. Organisation non Gouvernementale membre du Comité International Olympique depuis 1964.</small>
                    <div class="btn-wrapper">
                        <div class="text-center">
                            <a href="#" class="btn btn-primary wow slideInLeft">Lire Plus</a> &nbsp;&nbsp;&nbsp;
                        </div>
                    </div><!-- end row -->
                </div>
            </div>
            <div class="slider-bottom">
                <span>Explorer <i class="fa fa-angle-down"></i></span>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 hidden-sm hidden-xs">
                        <div class="custom-module">
                            <img src="upload/ibata.jpg" alt="" class="img-responsive wow slideInLeft" style=" width:350px; height:400px; border-radius: 10px;">
                        </div><!-- end module -->
                    </div><!-- end col -->
                    <div class="col-md-8">
                        <div class="custom-module p40l">
                            <h2 Style="text-align:center";>PRESENTATION</h2>

                            <p>Nam dictum sem, ipsum aliquam . Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Integer lectus. Praesent sed nisi eleifend, fermentum orci amet, iaculis libero.</p>

                            <hr class="invis">

                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 first">
                                    <ul class="check">
                                        <li>Custom Shortcodes</li>
                                        <li>Visual Page Builder</li>
                                        <li>Unlimited Shortcodes</li>
                                        <li>Responsive Theme</li>
                                        <li>Tons of Layouts</li>
                                    </ul><!-- end check -->
                                </div><!-- end col-lg-4 -->
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <ul class="check">
                                        <li>Font Awesome Icons</li>
                                        <li>Pre-Defined Colors</li>
                                        <li>AJAX Transitions</li>
                                        <li>High Quality Support</li>
                                        <li>Unlimited Options</li>
                                    </ul><!-- end check -->    
                                </div><!-- end col-lg-4 -->
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 last">
                                    <ul class="check">
                                        <li>Shopping Layouts</li>
                                        <li>Pre-Defined Fonts</li>
                                        <li>Style Changers</li>
                                        <li>Footer Styles</li>
                                        <li>Header Styles</li>
                                    </ul><!-- end check -->
                                </div><!-- end col-lg-4 --> 
                            </div><!-- end row -->   

                            <hr class="invis">

                            <div class="btn-wrapper" style="text-align: center";>
                                <a href="#" class="btn btn-primary">Télécharger la présentation</a>
                            </div>

                        </div><!-- end module -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <section class="section gb">
            <div class="container">
                <div class="section-title text-center">
                    <h3>Actualités</h3>
                    <p>Suivez en temps réel, l'actualité du CNOSC et du monde Sportif.</p>
                </div><!-- end title -->

                <div id="owl-01" class="owl-carousel owl-theme owl-theme-01">
                    <div class="caro-item">
                        <div class="course-box">
                            <div class="image-wrap entry">
                                <img src="upload/cnosc.jpg" alt="" class="img-responsive">
                                <div class="magnifier">
                                     <a href="#" title=""><i class="flaticon-add"></i></a>
                                </div>
                            </div><!-- end image-wrap -->
                            <div class="course-details">
                                <h4>
                                    <small>Post récent</small>
                                    <a href="#" title="" style="text-align: center;">Réouverture des Locaux du CNOSC</a>
                                </h4>
                                <p>Après 46 Jours de confinement, le CNOSC ouvre ses portes conformément...</p>
                                <br/>
                                <h4><a href="#" class="button btn btn-primary" style="text-align: right;">Lire Plus</a></h4>
                            </div><!-- end details -->
                            <div class="course-footer clearfix">
                                <div class="pull-left">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-calendar"></i>21 Mai 2020</a></li>
                                        <li><a href="#"><i class="fa fa-clock-o"></i> 09h00.</a></li>
                                    </ul>
                                </div><!-- end left -->

                                <div class="pull-right">
                                </div><!-- end left -->
                            </div><!-- end footer -->
                        </div><!-- end box -->
                    </div><!-- end col -->

                     <div class="caro-item">
                        <div class="course-box">
                            <div class="image-wrap entry">
                                <img src="upload/cnosc.jpg" alt="" class="img-responsive">
                                <div class="magnifier">
                                     <a href="#" title=""><i class="flaticon-add"></i></a>
                                </div>
                            </div><!-- end image-wrap -->
                            <div class="course-details">
                                <h4>
                                    <small>Post récent</small>
                                    <a href="#" title="" style="text-align: center;">Réouverture des Locaux du CNOSC</a>
                                </h4>
                                <p>Après 46 Jours de confinement, le CNOSC ouvre ses portes conformément...</p>
                                <br/>
                                <h4><a href="#" class="button btn btn-primary" style="text-align: right;">Lire Plus</a></h4>
                            </div><!-- end details -->
                            <div class="course-footer clearfix">
                                <div class="pull-left">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-calendar"></i>21 Mai 2020</a></li>
                                        <li><a href="#"><i class="fa fa-clock-o"></i> 09h00.</a></li>
                                    </ul>
                                </div><!-- end left -->

                                <div class="pull-right">
                                </div><!-- end left -->
                            </div><!-- end footer -->
                        </div><!-- end box -->
                    </div><!-- end col -->

                    <div class="caro-item">
                        <div class="course-box">
                            <div class="image-wrap entry">
                                <img src="upload/cnosc.jpg" alt="" class="img-responsive">
                                <div class="magnifier">
                                     <a href="#" title=""><i class="flaticon-add"></i></a>
                                </div>
                            </div><!-- end image-wrap -->
                            <div class="course-details">
                                <h4>
                                    <small>Post récent</small>
                                    <a href="#" title="" style="text-align: center;">Réouverture des Locaux du CNOSC</a>
                                </h4>
                                <p>Après 46 Jours de confinement, le CNOSC ouvre ses portes conformément...</p>
                                <br/>
                                <h4><a href="#" class="button btn btn-primary" style="text-align: right;">Lire Plus</a></h4>
                            </div><!-- end details -->
                            <div class="course-footer clearfix">
                                <div class="pull-left">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-calendar"></i>21 Mai 2020</a></li>
                                        <li><a href="#"><i class="fa fa-clock-o"></i> 09h00.</a></li>
                                    </ul>
                                </div><!-- end left -->

                                <div class="pull-right">
                                </div><!-- end left -->
                            </div><!-- end footer -->
                        </div><!-- end box -->
                    </div><!-- end col -->

                     <div class="caro-item">
                        <div class="course-box">
                            <div class="image-wrap entry">
                                <img src="upload/cnosc.jpg" alt="" class="img-responsive">
                                <div class="magnifier">
                                     <a href="#" title=""><i class="flaticon-add"></i></a>
                                </div>
                            </div><!-- end image-wrap -->
                            <div class="course-details">
                                <h4>
                                    <small>Post récent</small>
                                    <a href="#" title="" style="text-align: center;">Réouverture des Locaux du CNOSC</a>
                                </h4>
                                <p>Après 46 Jours de confinement, le CNOSC ouvre ses portes conformément...</p>
                                <br/>
                                <h4><a href="#" class="button btn btn-primary" style="text-align: right;">Lire Plus</a></h4>
                            </div><!-- end details -->
                            <div class="course-footer clearfix">
                                <div class="pull-left">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-calendar"></i>21 Mai 2020</a></li>
                                        <li><a href="#"><i class="fa fa-clock-o"></i> 09h00.</a></li>
                                    </ul>
                                </div><!-- end left -->

                                <div class="pull-right">
                                </div><!-- end left -->
                            </div><!-- end footer -->
                        </div><!-- end box -->
                    </div><!-- end col -->

                     <div class="caro-item">
                        <div class="course-box">
                            <div class="image-wrap entry">
                                <img src="upload/cnosc.jpg" alt="" class="img-responsive">
                                <div class="magnifier">
                                     <a href="#" title=""><i class="flaticon-add"></i></a>
                                </div>
                            </div><!-- end image-wrap -->
                            <div class="course-details">
                                <h4>
                                    <small>Post récent</small>
                                    <a href="#" title="" style="text-align: center;">Réouverture des Locaux du CNOSC</a>
                                </h4>
                                <p>Après 46 Jours de confinement, le CNOSC ouvre ses portes conformément...</p>
                                <br/>
                                <h4><a href="#" class="button btn btn-primary" style="text-align: right;">Lire Plus</a></h4>
                            </div><!-- end details -->
                            <div class="course-footer clearfix">
                                <div class="pull-left">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-calendar"></i>21 Mai 2020</a></li>
                                        <li><a href="#"><i class="fa fa-clock-o"></i> 09h00.</a></li>
                                    </ul>
                                </div><!-- end left -->

                                <div class="pull-right">
                                </div><!-- end left -->
                            </div><!-- end footer -->
                        </div><!-- end box -->
                    </div><!-- end col -->
                </div><!-- end row -->

                <hr class="invis">

                <div class="section-button text-center">
                    <a href="#" class="btn btn-primary">Plus d'Actualités</a>
                </div>
            </div><!-- end container -->
            </section>
        
        <section class="section db">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="stat-count">
                            <h4 class="stat-timer">28</h4>
                            <h3><i class="flaticon-black"></i>Fédérations</h3>
                            <p>Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. </p>
                        </div><!-- stat-count -->
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-4">
                        <div class="stat-count">
                            <h4 class="stat-timer">6</h4>
                            <h3><i class="flaticon-sport"></i> Associations Affinitaires</h3>
                            <p>Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. </p>
                        </div><!-- stat-count -->
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-4">
                        <div class="stat-count">
                            <h4 class="stat-timer">56</h4>
                            <h3><i class="flaticon-year"></i>Année d'Existence</h3>
                            <p>Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. </p>
                        </div><!-- stat-count -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
    
<br/>

    <section class="section gb">
            <div class="container">
                <div class="section-title text-center">
                    <h3>Recent News</h3>
                    <p>Maecenas sit amet tristique turpis. Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. Donec consectetur accumsan arcu, sit amet fringilla ex ultricies.</p>
                </div><!-- end title -->

                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="blog-box">
                            <div class="image-wrap entry">
                                <img src="upload/blog_01.jpeg" alt="" class="img-responsive">
                                <div class="magnifier">
                                     <a href="blog-single.html" title=""><i class="flaticon-add"></i></a>
                                </div>
                            </div><!-- end image-wrap -->

                            <div class="blog-desc">
                                <h4><a href="blog-single.html">How to learn perfect code with Javascript</a></h4>
                                <p>Praesent at suscipit ligula. Suspendisse pre neque, quis suscipit enim. sed maximus, mia auctor.</p>
                            </div><!-- end blog-desc -->

                            <div class="post-meta">
                                <ul class="list-inline">
                                    <li><a href="#">21 March 2017</a></li>
                                    <li><a href="#">by WP Destek</a></li>
                                    <li><a href="#">14 Share</a></li>
                                </ul>
                            </div><!-- end post-meta -->
                        </div><!-- end blog -->
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-12">
                        <div class="blog-box">
                            <div class="image-wrap entry">
                                <img src="upload/blog_02.jpeg" alt="" class="img-responsive">
                                <div class="magnifier">
                                     <a href="blog-single.html" title=""><i class="flaticon-add"></i></a>
                                </div>
                            </div><!-- end image-wrap -->

                            <div class="blog-desc">
                                <h4><a href="blog-single.html">The most suitable web design & development tutorials</a></h4>
                                <p>Sed suscipit neque in erat posuere tristique aliquam porta vestibulum. Cras placerat tincidunt. </p>
                            </div><!-- end blog-desc -->

                            <div class="post-meta">
                                <ul class="list-inline">
                                    <li><a href="#">20 March 2017</a></li>
                                    <li><a href="#">by WP Destek</a></li>
                                    <li><a href="#">11 Share</a></li>
                                </ul>
                            </div><!-- end post-meta -->
                        </div><!-- end blog -->
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-12">
                        <div class="blog-box">
                            <div class="image-wrap entry">
                                <img src="upload/blog_03.jpeg" alt="" class="img-responsive">
                                <div class="magnifier">
                                     <a href="blog-single.html" title=""><i class="flaticon-add"></i></a>
                                </div>
                            </div><!-- end image-wrap -->

                            <div class="blog-desc">
                                <h4><a href="blog-single.html">Design for all mobile devices! This is name "responsive"</a></h4>
                                <p>Suspendisse scelerisque ex ac mattis molestie vel enim ut massa placerat faucibus sed ut dui vivamus. </p>
                            </div><!-- end blog-desc -->

                            <div class="post-meta">
                                <ul class="list-inline">
                                    <li><a href="#">19 March 2017</a></li>
                                    <li><a href="#">by WP Destek</a></li>
                                    <li><a href="#">44 Share</a></li>
                                </ul>
                            </div><!-- end post-meta -->
                        </div><!-- end blog -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
<section>
</section>   
    </br>
<div class="container" style="background-color: black;">

    <!-- Three columns of text below the carousel -->
    <div class="row" style="background-color: black;">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Heading</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Heading</h2>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
        <footer class="section footer noover">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="widget clearfix">
                            <h3 class="widget-title">Abonnez-vous à notre Newsletter</h3>
                            <div class="newsletter-widget">
                                <p>Vous pouvez nous écrire partout et à n'importe quel moment.
                                <form class="form-inline" role="search">
                                    <div class="form-1">
                                        <input type="text" class="form-control" placeholder="Entrer  votre email ici..">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane-o"></i></button>
                                    </div>
                                </form>
                                <img src="images/payments.png" alt="" class="img-responsive">
                            </div><!-- end newsletter -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-3">
                        <div class="widget clearfix">
                            <h3 class="widget-title">Faire un don</h3>
                            <p>vous souhaitez faire un don, pour la promotion des valeurs olympiques, cliquez-ici.</p>
                            <a href="#" class="readmore">Faire un Don</a>
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-3">
                        <div class="widget clearfix">
                            <h3 class="widget-title">Sports populaires</h3>
                            <div class="tags-widget">   
                                <ul class="list-inline">
                                    <li><a href="#">Basketball</a></li>
                                    <li><a href="#">Handball</a></li>
                                    <li><a href="#">Judo</a></li>
                                    <li><a href="#">Athlétisme</a></li>
                                    <li><a href="#">Cyclisme</a></li>
                                    <li><a href="#">Karaté</a></li>
                                    <li><a href="#">Taekwendo</a></li>
                                    <li><a href="#">Boxe</a></li>
                                    <li><a href="#">Boxe des Pharaons</a></li>
                                </ul>
                            </div><!-- end list-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-2 col-md-2">
                        <div class="widget clearfix">
                            <h3 class="widget-title">Liens</h3>
                            <div class="list-widget">   
                                <ul>
                                    <li><a href="#">Cnosc</a></li>
                                    <li><a href="#">Actualités</a></li>
                                    <li><a href="#">Gouvernance</a></li>
                                    <li><a href="#">Jeux</a></li>
                                    <li><a href="#">Médiathèque</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div><!-- end list-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </footer><!-- end footer -->

        <div class="copyrights">
            <div class="container">
                <div class="clearfix">
                 <marquee>copyright2021©Powerdesigncom</marquee>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- end container -->
        </div><!-- end copy -->
    </div><!-- end wrapper -->

    <!-- jQuery Files -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/carousel.js"></script>
    <script src="js/animate.js"></script>
    <script src="js/custom.js"></script>
    <!-- VIDEO BG PLUGINS -->
    <script src="js/videobg.js"></script>

</body>
</html>